<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="WORLOX" content=" app and game and youtube and music and searshe and download and message = 𝐙𝐲𝐩𝐡𝐨𝐧 !" />
<meta name="theme-color" id="theme-color-meta" content="black">
<link rel="stylesheet" href="js/style.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
<link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
<link rel="icon" href="ph/14.png" type="image"/>
 <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
 <script src="https://rawgit.com/schmich/instascan-builds/master/instascan.min.js"></script>
 <script src="https://cdn.jsdelivr.net/npm/jsqr/dist/jsQR.js"></script>
          <title>𝐙𝐲𝐩𝐡𝐨𝐧 !</title>
</head>
<body>
<!-- #1 -->
<div class="page" id="page1">
      
<div class="oiuioo">
<div class="so">
<o>
<i><b>𝐙𝐲𝐩𝐡𝐨𝐧 !</b></i>
</o>
<div class="plus">
 <input  type="file"  id="imageInput" class="inputfile" accept="image/*" multiple>
<label for="file" id="file">                  
<i id="file" class="fa-solid fa-plus"></i></label>
        </div>
        <n>
<o  onclick="navigateTo('page4')">
<i class="fa-brands fa-facebook-messenger"></i>
    </o>
    </n>
    </div>
    <br>
    <section class="main">
    <div class="wrapper">
    <div class="left-col">
    <div class="status-wrapper">
            
            
            
            
    <div class="status-card">
    <div class="profile-pic" >
    <img src="https://yt3.googleusercontent.com/2zkWNTcZBxfR512fz0j5Gx07a9qbeeBTaNUnNuiXsmoO8nwudwA0UphktSP3WPCM62BXSdJsM8c=s900-c-k-c0x00ffffff-no-rj" alt="" class="sititi" data-popup="popup3" >
    </div>
    <div class="bodrk" id="popup3">
    <div id="plyer-container" class="popup-trigge">
    </div>
    <br>
    <button class="nextv" onclick="loadRandomVideo('plyer-container')">Next Video</button>
 <button class="joji" onclick="closePopup('popup3')">
    <i  onclick="navigateTo('page1')" class="fa-solid fa-xmark"></i>
    </button>
    </div>                               
    <p class="username">YOUTUBE TV</p>
    </div>                  
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    <div class="status-card">
    <div class="profile-pic" onclick="navigateTo('page43')">
             <img src="https://www.cnet.com/a/img/resize/f79daa2916d5016c0eae39d9f011fb45c286384a/hub/2021/09/29/84563ecd-e228-4ac2-826d-41c5478ce588/cnet-qr-code.jpg?auto=webp&width=1200" alt="" class="sititi">
    </div>
    <p class="username">Scanner QR</p>
    </div>  
    <div class="status-card" onclick="navigateTo('page42')">
    <div class="profile-pic">
    <img src="https://st2.depositphotos.com/4060975/8056/v/450/depositphotos_80565756-stock-illustration-download-vector-icon.jpg" alt="" class="sititi" >
     </div>
     <p class="username">Download YT</p>
     </div>                         
     <div class="status-card">
    <div class="profile-pic" onclick="navigateTo('page41')">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ8mN-6KdDCe6hppOj57HHMzyl404AP-uxiGQ&usqp=CAU" alt="" class="sititi" >
     </div>
     <p class="username">Notés</p>
     </div> 
     </div>
     </div>
     </div>
    </section>
    
     <br>
    </div>
    <div class="kokiko">
    <div id="imagePreviewContainer"></div>
    <div id="player-container" ></div>
    </div>
    <div class="bot">
    <k>
    <o>
    <i class="fa-solid fa-house"></i>
    </o>
    </k>
    <k>
    <o onclick="navigateTo('page2')"><i class="fa-solid fa-magnifying-glass"></i>
    </k>
    </o>
    <k>
    <o>
    <a><i class="fa-solid fa-film" onclick="navigateTo('page72')"></i>
    </a></o>
    </k>
    <k>
    <o onclick="navigateTo('page3')"><i class="fa-brands fa-itunes-note"></i>
    </o>
    </k>
    <k>
    <o onclick="navigateTo('page5')"><span class="material-symbols-outlined">stadia_controller
    </span>
    </o>
    </k>
    <k>
    <o><i class="fa-solid fa-gear" id="menu-button" onclick="toggleMenu() "></i>
    </o>
    </k>
    </div>
    </div>
 <!-- #2 -->
 <div class="page" id="page2">
 <div class="nhjgf">
 <div class="so">
 <o  onclick="navigateTo('page1')" >
 <i><b>𝐙𝐲𝐩𝐡𝐨𝐧 !</b></i>
 </o>
 <n>
 <o  onclick="navigateTo('page4')">
  <i class="fa-brands fa-facebook-messenger"></i>
  </o>
  </n>
  </div>
  <div class="j">
  <form class="er" >
  <div class="u">
  </div>
  <input type='text' class='bo' placeholder='Type something' >
  <butn class="bo" class='search-button ytyt'>
  <w class='search-button ytyt'> <i  class="fa-solid fa-magnifying-glass"></i></w>
  </butn>
  </g>
  </form>
  </div>
  </div>
  <ul i="kl">
  <ol start="1">
  <secton class='wiki-articles'> 
  </secton>
  </ol>
  </ul>
  <div class="bot">
   <k>
   <o >
  <i class="fa-solid fa-house" onclick="navigateTo('page1')"></i>
  </o>
  </k>
  <k>
  <o ><i class="fa-solid fa-magnifying-glass"></i>
  </k>
  </o>
  <k>
  <o><a ><i class="fa-solid fa-film" onclick="navigateTo('page72')"></i>
  </a></o>
  </k>
  <k>
  <o  onclick="navigateTo('page3')"><i class="fa-brands fa-itunes-note"></i>
  </o>
  </k>
  <k>
  <o onclick="navigateTo('page5')">
  <span class="material-symbols-outlined">stadia_controller</span>
  </o>
  </k>
  <k>
  <o  id="menu-button"><i class="fa-solid fa-gear" onclick="toggleMenu()"></i>
  </o>
  </k>
  </div>
  </div>
<!-- #3 -->
  <div class="page" id="page4">
  <div class="nhjgf">
   <div class="so">
   <o  onclick="navigateTo('page1')" >
   <i><b>𝐙𝐲𝐩𝐡𝐨𝐧 !</b></i>
   </o>
   <n>
   <o  onclick="navigateTo('page4')">
   <i class="fa-brands fa-facebook-messenger"></i>
   </o>
   </n>
   </div> 
   <div class="j">
   <form class="er">
   <div class="u">
   </div>
   <buttn class="op">
   <w> <i class="fa-solid fa-magnifying-glass"></i></w>
   </buttn>
   <input placeholder="Entre sershe......" type="text" id="fr" class="y">
   <buttn class="bo">
   <w><i onclick="navigateTo('page1')" onclick="navigateTo('page1')" class="fa-solid fa-xmark"></i></w>
   </buttn>
   </g>
   </form>                       
   </div>
   </div>
   <ul  id="kl">
   <lk onclick="navigateTo('page50')">
   <div class="profile-cont">
   <div class="status-card">
   <div class="profile-pic">
   <img src="ph/14.png" alt="">
   </div>
   </div>
   <div class="profile-n">WORLOX</div>
   </div>
   </lk>
   </ul>
   </div>
   <!-- #4 -->
<!-- GAME -->
        <div class="page" id="page5">
                <div class="nhjg">
   <div class="so">
   <o  onclick="navigateTo('page1')" >
         <i><b>𝐙𝐲𝐩𝐡𝐨𝐧 !</b></i>
                </o>
             
                <n>


                        
                        <o  onclick="navigateTo('page4')">
      <i class="fa-brands fa-facebook-messenger"></i>
                        </o>
                </n>

        </div>
      </div>
      <br>
<div class="ul">

<ul class="dard-rmst">

        <li class="dard" onclick="navigateTo('page60')">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT8zSxxuMw9enOra3-5UboEpGG06j6jtWofYA&usqp=CAU" alt="">
                <a class="dard-description" target="_blank">
                        <h4>GAME PLAY</h4>
                        <p>MR X</p>
                </a>
        </li>

        <li class="dard" onclick="navigateTo('page61')">
                <img src="https://images.crunchbase.com/image/upload/c_lpad,f_auto,q_auto:eco,dpr_1/n3hqbpoafzxm32rpovby" alt="">
                <a class="dard-description" target="_blank">
                        <h4>GAME PLAY</h4>
                        <p>Score pinte</p>
                </a>
        </li>
        <li class="dard" onclick="navigateTo('page62')">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRSIOrAWMqQo1L5yziMDMvQiFR1kTsyIdDjnUwgml5g-w&s" alt="">
                <a class="dard-description" target="_blank">
                        <h4>GAME PLAY</h4>
                        <p>X OR O</p>
                </a>
        </li>

        <li class="dard" onclick="navigateTo('page64')">
                <img src="https://www.min2win.org/img/game/7618l_300.jpg" alt="">
                <a class="dard-description" target="_blank">
                        <h4>GAME PLAY</h4>
                        <p>Click Color</p>
                </a>
        </li>
        <li class="dard" onclick="navigateTo('page65')">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQxJ-BBbsX4Ftg5bz9k-5JlChtePFISHytHjg&usqp=CAU" alt="">
                <a class="dard-description" target="_blank">
                        <h4>GAME PLAY</h4>
                        <p>Snake</p>
                </a>
        </li>

        <li class="dard" onclick="navigateTo('page67')">
                <img src="https://miro.medium.com/v2/resize:fit:1400/1*It9pYu-PxzDW27IHVT-LwQ.png" alt="">
                <a class="dard-description" target="_blank">
                        <h4>GAME PLAY</h4>
                        <p>Checkers</p>
                </a>
        </li>
        <li class="dard" onclick="navigateTo('page68')">
                <img src="https://iridia.ulb.ac.be/~khasselm/ai-book/assets/img/connect4.png" alt="">
                <a class="dard-description" target="_blank">
                        <h4>GAME PLAY</h4>
                        <p>Connect 4</p>
                </a>
        </li>
        <li class="dard" onclick="navigateTo('page69')">
                <img src="https://media.dev.to/cdn-cgi/image/width=1000,height=500,fit=cover,gravity=auto,format=auto/https%3A%2F%2Fdev-to-uploads.s3.amazonaws.com%2Fuploads%2Farticles%2Fq379zva250un9ue9qdno.png">
                <a class="dard-description" target="_blank">
                        <h4>GAME PLAY</h4>
                        <p>The drawing</p>
                </a>
        </li>

        <li class="dard" onclick="navigateTo('page70')">
                <img src="https://www.typingpal.com/en/typing-test/vitesse-frappe-en.png">
                <a class="dard-description" target="_blank">
                        <h4>GAME PLAY</h4>
                        <p>Type Speed</p>
                </a>
        </li>
        <li class="dard" onclick="navigateTo('page71')">
                <img src="https://media.geeksforgeeks.org/wp-content/uploads/20200508144355/dice.gif">
                <a class="dard-description" target="_blank">
                        <h4>GAME PLAY</h4>
                        <p>Roll the dice</p>
                </a>
        </li>

</ul>
</div>
            
   <div class="bot">
                                        <k>
                                                <o >
                                                        <i class="fa-solid fa-house" onclick="navigateTo('page1')"></i>
                                                </o>
                                        </k>
                                        <k>
                                                <o ><i class="fa-solid fa-magnifying-glass" onclick="navigateTo('page2')"></i>
                                        </k>
                                        </o>
                                        <k>
                                          <o><a ><i class="fa-solid fa-film" onclick="navigateTo('page72')"></i>
                                            </a></o>
                                        </k>
                                                                                <k>
                                                                                        <o  onclick="navigateTo('page3')"><i class="fa-brands fa-itunes-note"></i>
                                        
                                                                                        </o>
                                                                                </k>
                                        <k>
                                                <o  ><span class="material-symbols-outlined">
                                                        stadia_controller
                                                </span>
                                                </o>
                                        </k>


                                        <k>
                                                <o  id="menu-butto"><i class="fa-solid fa-gear" onclick="toggleMenu()"></i>


                                                </o>
                                        </k>

                                </div>
           

        </div>


<!-- MUSIC -->
        <div class="page" id="page3">
                <div class="nhjg">
   <div class="so">

   <o  onclick="navigateTo('page1')" >
         <i><b>𝐙𝐲𝐩𝐡𝐨𝐧 !</b></i>
                </o>
            
                <n>


                        
                        <o  onclick="navigateTo('page4')">
                                <i class="fa-brands fa-facebook-messenger"></i>
                        </o>
                </n>

        </div>
</div>
                <div class="player">

                        <!-- Define the section for displaying details -->
              <div class="details">
                                <div class="now-playing">PLAYING x OF y</div>
               <div class="track-art"></div>
                                <div class="track-name">Track Name</div>
                                <div class="track-artist">Track Artist</div>
                        </div>
                        <div class="slider_container">
                                <div class="current-time">00:00</div>
    <input type="range" min="" max="100" value="0" class="seek_slider" onchange="seekTo()">
                                <div class="total-duration">00:00</div>
                        </div>


                        <!-- Define the section for displaying track buttons -->
                        <div class="buttons">
    <!-- Add this button for displaying the music list -->
    <div  class="music-list" onclick="showMusicList()">
            <i style="font-size: 20px; margin-right: 22px;" class="fa fa-list fa-2x"></i>
    </div>                            
               <div class="prev-track" onclick="prevTrack()">
                                        <i class="fa fa-step-backward fa-2x"></i>
                                </div>
                                <div class="playpause-track" onclick="playpauseTrack()">
                                        <i class="fa fa-play-circle fa-5x"></i>
                                </div>
                                <div class="next-track" onclick="nextTrack()">
                                        <i class="fa fa-step-forward fa-2x"></i>
                                </div>
                                                 <label  class="kok" for="">  <input type="file" class="kok" id="fileInput" accept="audio/" onchange="uploadMusic()" /><i id="file" class="fa-solid fa-plus"></i></label>
        
                              
    </div>



        

                        <!-- Define the section for displaying the seek slider-->

                        <!-- Define the section for displaying the volume slider-->

                </div>





  <div class="bot">
                                        <k>
                                                <o >
                                                        <i class="fa-solid fa-house" onclick="navigateTo('page1')"></i>
                                                </o>
                                        </k>
                                        <k>
                                                <o ><i class="fa-solid fa-magnifying-glass" onclick="navigateTo('page2')"></i>
                                        </k>
                                        </o>
                                        <k>
                                                <o><a ><i class="fa-solid fa-film" onclick="navigateTo('page72')"></i>
                                                        </a></o>
                                        </k>
                                                                                <k>
                                                                                        <o  ><i class="fa-brands fa-itunes-note"></i>
                                        
                                                                                        </o>
                                                                                </k>
                                        <k>
                                                <o  onclick="navigateTo('page5')"><span class="material-symbols-outlined">
                                                        stadia_controller
                                                </span>
                                                </o>
                                        </k>


                                        <k>
                                                <o  ><i class="fa-solid fa-gear" onclick="toggleMenu()"></i>


                                                </o>
                                        </k>

                                </div>



        </div>

        <!--page   -->


        <!-- profil page -->
<!-- menu 2 -->

  <div class="men2">
          <button class="tt" id="downloadButton" onclick="resetMenu()"><i  class="fa-solid fa-minus"></i></button>
<div class="discussion">
        <div class="discussion__header">
            <div class="authed-user">
                    <img class="avatar" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQOov7E8lFH74eymqlpSGfBSj0T-PYwjOkqIBecfUkiBQ&s" alt="">
            </div>
            <form id="newcomment__form" >
                <textarea tabindex="1" cols="150" rows="4" minlength="1" 
                    required placeholder="Write a comment"
                ></textarea>
                <div class="newcomment__toolbar">
                    <button
                        id="reset-button" class="button--secondary"
                        type="button"
                    >
                                                    
                    </button>
                    <button
                        id="confirm-button" class="button--primary"
                        tabindex="2" type="submit"
                    >
                       Envoyé 
                    </button>
                </div>
            </form>
        </div>
        <div class="discussion__comments">
            <!-- will be generated -->
        </div>
      </div>               

                  </div>
<!-- menu -->
   <script>
           window.addEventListener('mouseup', function(event) {
                   var box = document.getElementById('menu');
                   if (event.target != box) {
                           box.style.bottom = '-200%';
                   }
           })
   </script>
       <div id="menu" class="hidden">
                
                          <ul>
<d  onclick="navigateTo('page41')"><ln><i class="fa-regular fa-clipboard"></i><p>Notés</p></ln></d>
<d><a onclick="navigateTo('page42')" ><ln><i class="fa-solid fa-cloud-arrow-down" style="font-size: 20px;"></i><p>Download YouTube</p></ln></a></d>
<d   onclick="navigateTo('page63')"><ln><span class="material-symbols-outlined">
g_translate
</span><p>Translate</p></ln></d>
<d   onclick="navigateTo('page40')"><ln><i class="fa-regular fa-calendar"></i><p>Historique</p></ln></d>
<d   onclick="navigateTo('page43')"><ln><i class="fa-solid fa-qrcode"></i><p>Qr Code</p></ln></d>

<d   onclick="navigateTo('page14')"><ln><i class="fa-regular fa-envelope"></i><p>Siport</p></ln></d>
<d id="deleteAllButton" ><ln><i class="fa-solid fa-trash"></i><p>Delet an Poste</p></ln></d>
<d  onclick="toggleDarkMode();" ><ln><i onclick="toggleDarkMode();"  id="toggle-icon" class="fa-solid fa-sun"></i><p>Dark-Mode</p></ln></d>
</ul>

                  </div>
<!-- menu -->
<!-- page menu -->

 <div class="page" id="page14">
             <div class="vuuv">

  <div class="lopni" >
          <h2>Send Email</h2>
          <form id="emailForm">
                  <input type="email" id="email" value="mr.x2005x67@gmail.com" name="email" required hidden>
                  <label class="nazs" for="subject">Subject:</label>
                  <input type="text" id="subject" name="subject" required>
                  <label class="nazs" for="messagge">Message:</label>
                  <textarea id="messagge" name="messagge" required></textarea>
                  <button class="ghtyg" type="button" onclick="sendEmail()">Send</button>
          </form>
  </div>
</div>
</div>

 <div class="page" id="page40">
         <div class="nkiol">
        <div class="router">
<x onclick="navigateTo('page1')" class="fa-solid fa-arrow-left"></x>    
    <div class="paste-button">
  <button class="butto"><i onclick="fun()" class="fa-solid fa-ellipsis-vertical"></i></button>

 <div class="left">
  <div class="dropdown-content">
    <a id="top" ><p id="clearHistoryButton">Tout Delet</p></a>
  </div>
</div>
</div>
</div>



    <div id="timer">
        <h2>The time of the current session:</h2>
        <span class="cron" id="sessionTime">0</span>
    </div>
 </div>
     <div id="loginTime">
        <h2>Entry time:</h2>

        <div class="kto">
              <ul id="loginHistory"></ul>
        </div>
      
   
    </div>


</div>

 <div class="page" id="page41">
        <div class="router">
<x onclick="navigateTo('page1')" class="fa-solid fa-arrow-left"></x>    
    <div class="paste-button">
  <button class="butto"><i onclick="fun()" class="fa-solid fa-ellipsis-vertical"></i></button>

 <div class="left">
  <div class="dropdown-content" style="border: 2px solid #ffff;">
    <a id="top" ><p>Tout Delet</p></a>
  </div>
</div>
</div>
</div>

  <div class="popup-box">
          <div class="popup">
                  <div class="conten">
                          <heade>
                                  <p></p>
                                  <i class="uil uil-times"></i>
                          </heade>
                          <form action="#" class="jo">
                                  <div class="row title">
                     <labe>Title</labe>
                   <input type="text" spellcheck="false" class="id">
                                  </div>
                                  <div class="row description">
                     <labe>Description</labe>
          <textarea spellcheck="false"></textarea>
                                  </div>
                                  <button></button>
                          </form>
                  </div>
          </div>
  </div>
  <div class="werap">
          <li class="add-box">
                  <div class="ico"><i class="uil uil-plus"></i></div>
          </li>
  </div>

</div>

<div class="page" id="page42">
    <h1>YouTube Downloader</h1>
        <div class="result1"></div>
<div class="tuiiiip">
    <input type="text" class="YouTube" placeholder="Enter YouTube URL">
    <select class="format">
        <option value="Thumbnail">Thumbnail</option>
        <option value="mp3">MP3</option>
        <option value="m4a">M4A</option>
        <option value="360">360p</option>
        <option value="480">480p</option>
        <option value="720">720p</option>
        <option value="1080">1080p</option>
        <option value="4k">4K</option>
        <option value="8k">8K</option>
    </select>
    <button class="koljyh" onclick="Getdownload()">Download</button>
    <div class="hidden">
        <input type="hidden" class="Idurl">
    </div>
    <br>
    <div class="result2"></div>
    </div>
</div>
       

        
        
        
        
<div class="page" id="page43">
   <div class="contatier">
   <div class="qr-code">
           <img class="qrr" src="" alt="">
   </div>        
  <div class="input-contatiner">
  
    <input class="oooo" type="text" id="input" placeholder="entre url" value="" autocomplete="off"/>
   <button onclick="generate()">entre</button>
   
  </div>
    <div id="nbhfxeth">
            <input class="nkhhy" type="file" accept="image/*" @change="processFile">
            <label class="kloiuj" for=""><i class="fa-regular fa-file-image"></i></label>
            <p class="popo" v-if="result">Qr code deltais: {{ result }}</p>
    </div>
 </div>      
</div>
<!-- page menu -->







<!-- chat -->
<div class="page" id="page50">

                  <div class="chat">
                  <header class="msger-header">
                                  
               <div class="msger-header-title">
    <x onclick="navigateTo('page4')" class="fa-solid fa-arrow-left"></x>   

                                          <img src="ph/14.png" alt="" width="">
                         <p>WORLOX</p>
  
                                                                      </div>

                                  <p >  <i onclick="fun()"  class="fa-solid fa-ellipsis-vertical">
                              
 
                                  </i></p>
  

                          </header>
                          

<audio id="messageNotification">
  <source src="music/99.mp3" type="audio/mp3">
 
</audio>
 <div id="messagesContainer" class="mes"></div>
 
 
<form class="mesr" onsubmit="return sendMessage();">
                 <div class="clavi">
<input type="text" class="inp" id="message" placeholder="Entrez votre message...." autocomplete="off">
<button type="submit" onclik="return sendMessae()" class="s1">Envoyer</button>
                 </div>
                          </form>
  
                        
  
  
  
  
  
  
  
                  </div> 
<script src="https://www.gstatic.com/firebasejs/6.6.1/firebase-app.js"></script>
<!-- include firebase database -->
<script src="https://www.gstatic.com/firebasejs/6.6.1/firebase-database.js"></script>


<script src="https://worlox-default-rtdb.firebaseio.com"></script>



    
   
</div>
<!-- chat -->
<!-- page game -->
<div class="page" id="page60">


 <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
 <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.0-alpha1/js/bootstrap.min.js"></script>
  <div class="hide" id="turnCounterWrapper">
    <span id="turnCounter">turn: 1</span>

  </div>

  <!-- GAME START OVERLAY -->
  <div class="" id="gameStartOverlay">
          
    <h1 style="font-size: 20px;"> Music Memory Game</h1>
    
    <p style="font-size: 18px;"> Find the composers!</p>
    
    <input style="font-size: 20px;" class="pure-button button-blue" id="newGameButton" type="button" value="START" onclick="newGame();">
  </div>

  <!-- COMPOSER INFO OVERLAY -->
  <div class="hide" id="composerInfoOverlay">

    <h1 id = "composerNameInfo">Composer Name here..</h1>

    <div id="composerAudioWrapper">
      <audio controls="controls" id="composerAudio" src="">
      </audio>
    </div>

    <div id="composerIframeWrapper">
      <iframe id="composerIframe" src=""></iframe>
    </div>

    <input class="pure-button button-blue" id="closeInfo" type="button" value="back to game" onclick="closeComposerInfo();">

  </div>

  <!-- END GAME OVERLAY -->
  <div class="hide" id="gameEndOverlay">
    <h1>You Win!</h1>
    <p id="endGameTurnMessage">Completed in X turns!</p>
    <input class="pure-button button-blue" id="newGameButton" type="button" value="PLAY AGAIN" onclick="newGame();">
  </div>

  <!-- THE GAME -->
  <div id="cardGameWrapper">

    <div id="gameHeaderWrapper">
      <div class="hide" id="composerHeaderHider"><!--for hiding header-->

        <p id="composerHeaderSubhead">&nbsp;</p>
        
        <h1 id="composerName">  the Composers!</h1>

        <div id="learnMoreWrapper">
          <input class="pure-button button-blue" id="composerLearnMore" type="button" value="learn more" onclick="showComposerOverlayInfo()">
        </div>

      </div>
    </div>

    <!--all tds are classed "gameCard" via js-->
    <!--all tds are given attr "data-card = 1,2,3, etc via js"-->
    <!--flip div html added to table datas via js-->
    <table class="" id="gameBoard">
      <tr>
        <td id="card1"></td>
        <td id="card2"></td>
        <td id="card3"></td>
        <td id="card4"></td>
        <td id="card5"></td>
        <td id="card6"></td>
      </tr>
      <tr>
        <td id="card7"></td>
        <td id="card8"></td>
        <td id="card9"></td>
        <td id="card10"></td>
        <td id="card11"></td>
        <td id="card12"></td>
      </tr>
      <tr>
        <td id="card13"></td>
        <td id="card14"></td>
        <td id="card15"></td>
        <td id="card16"></td>
        <td id="card17"></td>
        <td id="card18"></td>
      </tr>
      <tr>
        <td id="card19"></td>
        <td id="card20"></td>
        <td id="card21"></td>
        <td id="card22"></td>
        <td id="card23"></td>
        <td id="card24"></td>
      </tr>
      <tr>
        <td id="card25"></td>
        <td id="card26"></td>
        <td id="card27"></td>
        <td id="card28"></td>
        <td id="card29"></td>
        <td id="card30"></td>
      </tr>
    </table>

    <div id="restartWrapper" class="hide">

      <a id="restartGameLink" href="javascript:void(0);" onClick="newGame()">restart game</a>
    </div>

  </div>
</div>
<!-- game2 -->
<div class="page" id="page61">
        <div id="app">
                <div id="score"></div>
                <svg id="svg">            
</svg>

                <div id="launch-screen" class="is-visible">

                        <div id="launch-screen-content">
                                <h1 id="launch-screen__title"></h1>
                                <p id="launch-screen__description"></p>
                                <button class="btnn" id="start-btn">PLAY</button>
                                    <h4 style="margin-top:35px;color: white; " onclick="navigateTo('page5')">ROUTER</h4>

                        </div>
                </div>

        </div>
    </div>
    <!-- game3 -->
<div class="page" id="page62">
   <div class="nolkj">

       <div class="contr">
           <button class="butonn"></button>
           <button class="butonn"></button>
           <button class="butonn"></button>
           <button class="butonn"></button>
           <button class="butonn"></button>
           <button class="butonn"></button>
           <button class="butonn"></button>
           <button class="butonn"></button>
           <button class="butonn"></button>
       </div>
       <button id="retr">Restart</button>
   </div>

   <div class="nony hdee">
       <p id="megg">Sample megg</p>
       <button id="nejjj">New Game</button>
   </div>
   
   
</div>

<div class="page" id="page63">
        <div class="djoigv">
        <div class="router">
<x onclick="navigateTo('page1')" class="fa-solid fa-arrow-left"></x>    
    <div class="paste-button">
  <button class="butto"><i onclick="fun()" class="fa-solid fa-ellipsis-vertical"></i></button>

 <div class="left">
  <div class="dropdown-content" style="border: 2px solid #ffff;">
    <a id="top" ><p>Tout Delet</p></a>
    <a id="middle" >Merge formatting</a>
    <a id="bottom" onclick="toggleDarkMode();" >Dark Mode</a>
  </div>
</div>

</div>
</div>        
</div>
        <div class="biko">
    <div class="lopitou">
        <div class="potete">
            <button class="potetelinks active" onclick="openpotete(event, 'SignUp')">Zyphon</button>
            <button class="potetelinks" onclick="openpotete(event, 'Login')">A-z</button>
        </div>
        <div id="SignUp" class="potetecontent active">
            <h2 class="kilo">Symbols A into a language Zyphon</h2>
            <for class="fomp">
                <input type="text"id="ink" name="firstname" placeholder="language A-z" required>
                <p id="but" onclick="copyTe()"></p>
                <br>
                <button type="submit" onclick="convertToLanguageA()">Get Started</button>
            </for>
        </div>
        <div id="Login" class="potetecontent">
             <h2 class="kilo">Of language zyphon To symbols A</h2>
    <for class="fomp">
      <input type="text" id="inputText" name="" placeholder="language Zyphon" required>
     
             <p  id="outputText" onclick="copye()">
             
        
     </p>         
              
              
      <br>
      <button type="submit" onclick="convertLanguage()">Get Started</button>
    </for>
        </div>
    </div>
</div>
   
</div>

<div class="page" id="page64">
        
     <div class="iwa">

               <main>

        <div class="controls">
                <div class="newf">New Game</div>
                <div>Moves <span class="moves">0</span> / <span>35</span></div>
        </div>
        <div id="bond"></div>
        <div id="coloo"></div>
        <div id="overg"></div>
          </main>

</div>
</div>

<div class="page" id="page65">
    <div class="vov">
            <div class="vovo">
                    <span class="vovovo">score: 0</span>
                    <span class="high-vovovo">High: 0</span>            
            </div>
            <div class="vonvo"></div>
            <div class="voivo">
                    <i data-key="ArrowLeft" class="fa-solid fa-arrow-left-long"></i>
                    <i data-key="ArrowUp" class="fa-solid fa-arrow-up-long"></i>
                    <i data-key="ArrowDown" class="fa-solid fa-arrow-down-long"></i>
                    <i data-key="ArrowRight" class="fa-solid fa-arrow-right-long"></i>

            </div>
    </div>        
     </div>


<div class="page" id="page67">
        <div ng-app='ngCheckers'>
 <div ng-controller="checkersCtrl">
         <h3>Checker Game</h3>

         <div id="gameContainer">
                 <div>

         <div class="roww" ng-repeat="row in board">
         <div class="square" ng-style="setClass(square)" ng-repeat="square in row track by $index" ng-click="select(square)">
           <div ng-style="setStyling(square)" class="circle">
               <span>{{square.isKing ? '👑' : ''}}</span>
                                         </div>
                                 </div>
                         </div>
                 </div>
                  </div>

         <div class="v">
         <div>Player Turn : {{player}}</div>
         <div>seagreen Score : {{redScore}}</div>
         <div>dodgerblue Score : {{blackScore}}</div>
         </div>

 </div>   
  </div>
  </div>
  
<div class="page" id="page68">
  <div class="fopr">
    <span class="statuus"></span>
  </div>
<div class="game-board">
  <div class="kgtuvxd row-top col-0"></div>
  <div class="kgtuvxd row-top col-1"></div>
  <div class="kgtuvxd row-top col-2"></div>
  <div class="kgtuvxd row-top col-3"></div>
  <div class="kgtuvxd row-top col-4"></div>
  <div class="kgtuvxd row-top col-5"></div>
  <div class="kgtuvxd row-top col-6"></div>
  <div class="kgtuvxd row-0 col-0 left-border top-border"></div>
  <div class="kgtuvxd row-0 col-1 top-border"></div>
  <div class="kgtuvxd row-0 col-2 top-border"></div>
  <div class="kgtuvxd row-0 col-3 top-border"></div>
  <div class="kgtuvxd row-0 col-4 top-border"></div>
  <div class="kgtuvxd row-0 col-5 top-border"></div>
  <div class="kgtuvxd row-0 col-6 top-border right-border"></div>
  <div class="kgtuvxd row-1 col-0 left-border"></div>
  <div class="kgtuvxd row-1 col-1"></div>
  <div class="kgtuvxd row-1 col-2"></div>
  <div class="kgtuvxd row-1 col-3"></div>
  <div class="kgtuvxd row-1 col-4"></div>
  <div class="kgtuvxd row-1 col-5"></div>
  <div class="kgtuvxd row-1 col-6 right-border"></div>
  <div class="kgtuvxd row-2 col-0 left-border"></div>
  <div class="kgtuvxd row-2 col-1"></div>
  <div class="kgtuvxd row-2 col-2"></div>
  <div class="kgtuvxd row-2 col-3"></div>
  <div class="kgtuvxd row-2 col-4"></div>
  <div class="kgtuvxd row-2 col-5"></div>
  <div class="kgtuvxd row-2 col-6 right-border"></div>
  <div class="kgtuvxd row-3 col-0 left-border"></div>
  <div class="kgtuvxd row-3 col-1"></div>
  <div class="kgtuvxd row-3 col-2"></div>
  <div class="kgtuvxd row-3 col-3"></div>
  <div class="kgtuvxd row-3 col-4"></div>
  <div class="kgtuvxd row-3 col-5"></div>
  <div class="kgtuvxd row-3 col-6 right-border"></div>
  <div class="kgtuvxd row-4 col-0 left-border"></div>
  <div class="kgtuvxd row-4 col-1"></div>
  <div class="kgtuvxd row-4 col-2"></div>
  <div class="kgtuvxd row-4 col-3"></div>
  <div class="kgtuvxd row-4 col-4"></div>
  <div class="kgtuvxd row-4 col-5"></div>
  <div class="kgtuvxd row-4 col-6 right-border"></div>
  <div class="kgtuvxd row-5 col-0 bottom-border left-border"></div>
  <div class="kgtuvxd row-5 col-1 bottom-border"></div>
  <div class="kgtuvxd row-5 col-2 bottom-border"></div>
  <div class="kgtuvxd row-5 col-3 bottom-border"></div>
  <div class="kgtuvxd row-5 col-4 bottom-border"></div>
  <div class="kgtuvxd row-5 col-5 bottom-border"></div>
  <div class="kgtuvxd row-5 col-6 bottom-border right-border"></div>
</div>
  <button class="reset">Reset</button>


</div>

<div class="page" id="page69">
<div class="taawon">
<div>
               <button class="oiuyt" id="eraseLastLineButton"><i class="fa-solid fa-rotate-right"></i></button>
</div>
   <div class="paste-butto">
     <button type="submit" class="butt" id="eraseLastLineBu"><i class="fa-solid fa-bars"></i></button>
     <div class="lef">
       <div class="dropdown-conten">
         <div class="heddd">



           <label class="" for=""><i class="fa-solid fa-droplet"></i></label>

           <input type="color" class="" id="colorPicker">
           
           <button class="ziu" id="clearCanvasButton"><i class="fa-solid fa-trash"></i></button>
           
           <button class="ziu" id="saveImageButton"> <i class="fa-solid fa-floppy-disk"></i></button>
           
           <label class="" for=""><i class="fa-solid fa-paint-roller"></i></label>

           <select id="canvasBackground">
             <option value=""></option>
             <option value="#FFFFFF">White</option>
             <option value="#000000">Black</option>
             <option value="#FF0000">Red</option>
             <option value="#00FF00">Green</option>
             <option value="#0000FF">Blue</option>
             <option value="Orange">Orange</option>
            <option value="pink">pink</option>
             <option value="purple">purple</option>
             <option value="yellow">yellow</option>


           </select>
<div class="deplau">
  
           <input class="zui" type="range" id="brushSize" min="1" max="40" value="5"  style=" "><br>
           <label class="" for="">font-size</label>

</div>

           <input type="range" id="canvasWidth" min="20" max="430" value="" style="accent-color: #949494; display:none;">
           
           <input type="range" id="canvasHeight" min="200" max="800" value="350" style="accent-color: #949494; display:none; ">

         </div>
       </div>
</div>
</div>
</div>
<canvas id="canvaa" style="wight:100%;" height="900">
</canvas>
</div>

<div class="page" id="page70">
<div class="lokinrt">
    <div class="lokokokokik">
        <p>Time: <span id="ppppppppp">0s</span></p>
        <p>Mistakes:<span id="vk">0</span></p>
    </div>
    <div id="quote" onmousedown="return false" onselectstart="return false"></div>
    <textarea id="quote-input" class="bokokko" placeholder="Type here when the test starts.." disabled></textarea>
    <button id="start-test" class="kooona">Start Test</button>
    <button id="stop-test" style="display: none;" class="kooona">Stop Test</button>
    <button id="show-noooooooo" style="display: none; " class="kooona">Show noooooooo</button>
    <button id="restart-test" style="display: none;" class="kooona">Restart Test</button>
    <div class="noooooooo">
        <div class="moooooooooooo">
            <p>ARRIVSY: <span id="loooooo"></span></p>
            <p>Speed: <span id="wpm"></span></p>
        </div>
    </div>
</div>

</div>

<div class="page" id="page71">
  <div id="cont">
<div id="title"><h1>Let's Play</h1></div>
  <br>
<div id="dice">
<div class="Playerr1">
  <p id="name1">Player 1</p>
  <br>
  <img class="img1" src="https://media.geeksforgeeks.org/wp-content/uploads/20200508141000/dice1.png" alt=""> 
  </div>
</div>
  
<div id="dice">
<div class="Playerr2">
  <p id="name2">Player 2</p>
  <br>
  <img class="img2" src="https://media.geeksforgeeks.org/wp-content/uploads/20200508141000/dice1.png" alt="">     
  </div>
</div>
  
<div id="roll">
<button type="button" onClick="rollTheDice()" class="polj">Roll the Dice</button>
</div>
  
<div id="editname">
<button type="button" onClick="editNames()" class="polj">Edit Names</button>
</div>
</div>
</div>
<!-- netflix -->
<div class="page" id="page72">

<div class="nhjgf">

   <div class="so">

   <o  onclick="navigateTo('page1')" >
         <i><b>𝐙𝐲𝐩𝐡𝐨𝐧 !</b></i>
                </o>

                <n>


                        
                        <o  onclick="navigateTo('page4')">
                                <i class="fa-brands fa-facebook-messenger"></i>
                        </o>
                </n>

        </div>




                  
                                <div class="j">

                                     <form class="er">
                                             <div class="u">

                                             </div>
                                             <buttn class="op">
                                                     <w> <i class="fa-solid fa-magnifying-glass"></i></w>
                                             </buttn>
                                             <input placeholder="Entre sershe......" type="text" id="fro" class="y">
                                             <buttn class="bo">
                                                     <w><i  class="fa-solid fa-xmark"></i></w>
                                             </buttn>



                                             </g>


                                     </form>
                                     <!-- frame1 class end -->



                             </div>

      

</div>       
        
<div id="klo" class="netflix">


             <lk class="lk">
                <a href="https://www.facebook.com/groups/1471651947099162/permalink/1471654583765565/?app=fbl">
              <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQSLV7E7nhJI92F9wB3kpqG1cbmkBHmwf_gIg&usqp=CAU" alt="">
              <p>CASH OUT</p>
                </a>

        </lk>
        <lk class="lk">
                <a href="https://www.facebook.com/groups/3906609376235137/permalink/3906611119568296/?app=fbl">
              <img src="https://www.gamesurf.it/media/MR_9_1_6b3fc6a1e0/cover_article_small.webp" alt="">
              <p>MR-9</p>
                </a>

        </lk>
<lk class="lk">
        <a href="https://www.facebook.com/groups/1478461869546426/permalink/1478464769546136/?app=fbl">
                <img src="https://assets-prd.ignimgs.com/2024/03/05/dusk-for-a-hitman-button-1709673417544.jpg" alt="">
                <p>DUSK FOR A HITMAN</p>
        </a>

</lk><lk class="lk">
        <a href="https://www.facebook.com/groups/1894703520969125/permalink/1894704497635694/?app=fbl">
                <img src="https://frenchmorning.com/wp-content/uploads/2024/03/Vermines_Digital_Payoff_1920x1080px.jpg" alt="">
                <p>VERMNES</p>
        </a>

</lk><lk class="lk">
        <a href="https://www.facebook.com/groups/955845872916044/permalink/955850082915623/?app=fbl">
                <img src="https://m.media-amazon.com/images/M/MV5BMDc0YWE3NjctN2E0ZS00NDc4LTgzMTMtYTA4NjU4N2IzMTY0XkEyXkFqcGdeQXVyNjEwODU5ODk@._V1_FMjpg_UX1000_.jpg" alt="">
                <p>POSSESSIONS</p>
        </a>

</lk><lk class="lk">
        <a href="https://www.facebook.com/groups/354550590931321/permalink/354554877597559/?app=fbl">
                <img src="https://m.media-amazon.com/images/M/MV5BNDY3NjUzNDgtZTVjOS00NmNjLTk4M2ItYmY3OWQ1MjQ5OTIzXkEyXkFqcGdeQXVyMTAxNzQ1NzI@._V1_FMjpg_UX1000_.jpg" alt="">
             <p>ACCIDENTAL TEXAN</p>
        </a>

</lk><lk class="lk">
        <a href="https://www.facebook.com/groups/1120131705962187/permalink/1120133889295302/?app=fbl">
                <img src="https://mobile-img.lpcdn.ca/v2/924x/691b89e5a595312896c66a637688d7bf.jpg" alt="">
               <p>HUMANE</p>
        </a>

</lk><lk class="lk">
        <a href="https://www.facebook.com/groups/1136082240869958/permalink/1136083867536462/?app=fbl">
                <img src="https://www.ecranlarge.com/uploads/image/001/123/ifcwbdtpehqds3oqxbch3qayxyv-748.jpg" alt="">
                <p>RATATOUILLE</p>
        </a>

</lk><lk class="lk">
        <a href="https://www.facebook.com/groups/824415256171075/permalink/824418342837433/?app=fbl">
                <img src="https://m.media-amazon.com/images/M/MV5BMTg0NTIzMjQ1NV5BMl5BanBnXkFtZTcwNDc3MzM5OQ@@._V1_.jpg" alt="">
                <p>PRISONERS</p>
        </a>

</lk><lk class="lk">
        <a href="https://www.facebook.com/groups/1519243792140406/permalink/1519249532139832/?app=fbl">
                <img src="https://m.media-amazon.com/images/M/MV5BY2M1MzI1MTQtZTJiZS00MGFmLWJmOWQtOGZiN2VkYzU1ODA0XkEyXkFqcGdeQXVyMTUzMTg2ODkz._V1_.jpg" alt="">
                <p>MINUS ONE</p>
        </a>

</lk>
<lk class="lk">
        <a href="https://www.facebook.com/groups/1186645778990719/permalink/1186650155656948/?app=fbl">
                <img src="https://beam-images.warnermediacdn.com/BEAM_LWM_DELIVERABLES/a94b721c-e039-4e24-a7d6-64a0a9c089aa/4e552952454726085da98827b9343d9b398b8e4c.jpg?host=wbd-images.prod-vod.h264.io&partner=beamcom" alt="">
                <p>HOUSE OF WAX</p>
        </a>

</lk> 
</div>

  <div class="bot">
                                        <k>
                                                <o >
                                                        <i class="fa-solid fa-house" onclick="navigateTo('page1')"></i>
                                                </o>
                                        </k>
                                        <k>
                                                <o ><i class="fa-solid fa-magnifying-glass" onclick="navigateTo('page2')"></i>
                                        </k>
                                        </o>
                                        <k>
                                                <o><a ><i class="fa-solid fa-film" ></i>
                                                        </a></o>
                                        </k>
                                                                                <k>
                                                                                        <o onclick="navigateTo('page3')"  ><i class="fa-brands fa-itunes-note"></i>
                                        
                                                                                        </o>
                                                                                </k>
                                        <k>
                                                <o  onclick="navigateTo('page5')"><span class="material-symbols-outlined">
                                                        stadia_controller
                                                </span>
                                                </o>
                                        </k>


                                        <k>
                                                <o  ><i class="fa-solid fa-gear" onclick="toggleMenu()"></i>


                                                </o>
                                        </k>

                                </div>


</div>

<!-- page game -->
<script src="js/purify.min.js"></script>
<script src="js/index.js"></script>
<script src="js/youtube.js"></script>
<script src="js/script.js"></script>
<script src="js/servire.js"></script>
<script src="js/sershe.js"></script>
<script src="js/jeu.js"></script>
<script src="js/rasam.js"></script>
<script src="https://kit.fontawesome.com/af038c18f5.js" crossorigin="anonymous"></script>
<script src="js/angular.min.js"></script>
<script src="js/ngCheckers.js"></script>

<script src="https://apis.google.com/js/client.js?onload=onYouTubeIframeAPIReady"></script>
<script src="https://www.youtube.com/iframe_api"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<!-- qrcode -->
</body>
</html>